/Assignment3/Content/Data/Videos/
/Assignment3/Content/fork/1503698678322.mp4
/Assignment3/Content/spoon/1503699291032.mp4
/.git/
/Assignment3/dwtImages/Combined/Thumbs.db
/Assignment3/dwtImages/Thumbs.db